
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.animated-text{
    width: 100%;
    height: 60px;
    background-color: rgb(73, 3, 73);
}
.animation{
    animation-name: animate;
    animation-duration: 30s;
    animation-timing-function: ease-in;
    animation-direction: reverse;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
    color: white;
    padding-top: 15px;
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 700;
}
@keyframes animate {
    from{
        transform: translateX(-900px);
    }
    to{
        transform: translateX(0);
    }
}
.body{
    background-color: antiquewhite;
 }
 .nav-menu{
    position: sticky;
     margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    width: 100%;
    background-color: white;
 }
 .logo img{
     width: 250px;
     margin-left: 60PX;
 }
 .nav-items{
    list-style: none;
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .nav-items li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold ;
    color: black;
 }
 .nav-items li a:hover{
    color: orange;
    transition: 0.5;
 }
 .nav-items li{
    padding-right: 50px;
 }
 .but1{
    width: 140px;
    height: 55px;
    border-radius: 30px;
    background-color: rgb(225, 177, 89);
    font-size: 15px;
    border: none;
    margin-right: 50px;
    font-weight: bold;
    
 
 }
 .but1:hover{
    color:white ;
    background-color: rgb(89, 3, 89);
    border:none;
 }
 .fa-arrow-right{
    margin-left: 5px ;
 }
 .dropdown-toggle::after{
    content: '';
    font-size: 0.em;
 }
 .dropdown-menu{
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0px;
    padding: 0;
 }
 .dropdown-menu li{
    list-style: none;
 }
 .dropdown-menu li a{
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    color: white;
    transition: background-color 0.3s;
 }
 .dropdown-menu li a:hover{
    background-color: #575757;
 }
 /* show dropdown on hover */
 .menu-item:hover .dropdown-menu{
    display: block;
 }
.popup-container{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#popup-container{
    position: relative;
}
.popup-content{
    background-color: white;
    width: 25%;
    height: 80vh;
    padding: 40px 90px;
    border: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;    
}
.popup-text h4{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: DM Sans;
    color: #17013a;
}
.popup-text p{
    padding-top: 10px;
    color: gray;
    font-weight: 300;
    font-family: DM Sans;
}
#popup-image{
    width: 70%;
    height: 50vh;
    border-radius: 10px;
    margin-left: auto;
}
.close-btn{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: gray;
    font-size: 20px;
    font-weight: 700;
    
}
#download-btn{
    display: block;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background-color: #cabe14;
    margin: 20px 20px ;
    color: white;
    cursor: pointer;

}
#download-btn:hover{
    background-color: #20c997;
}

.need-flex{
    width: 100%;
    display: flex;
    gap: 10px; 
    background-image: linear-gradient(to right, rgb(8, 6, 6), rgba(21, 45, 67, 0.5)), url(mainbk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;
    margin-bottom: 40px;
    font-family: DM Sans;
}
.need-flex .text-heading h2{
    font-size: 20px;
    padding-top: 50px;
}
.need-flex .text-heading{
    width: 40%;
    padding: 70px;
    color: white;
    font-size: 20px;
    line-height: 30px;
}
.need-flex .text-heading p{
    margin-top: 60px;
    padding-bottom: 20px;
}

.form{
    width: 50%;
    box-sizing: border-box;
    display: block;
    background-color: white;
    margin-top: 90px;
    margin-right: 50px;
    margin-left: 50px;
}
.form label{
    font-size: 30px;
   margin-left: 50px;
}
.form input{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    /* padding: ; */
    width: 80%;
    margin-left: 50px;
    padding: 10px;
    border: solid 1px gray;
}
.form button{
    padding: 10px;
    color: white;
    border: solid 1px gray;
    background-color:rgb(89, 3, 89);;
    margin-left: 50px;
    width: 80%;
    border-radius: 30px;
    font-size: 20px;
    border: none;
}

.form button:hover{
    background-color:#FFB966;
    color: black;
}
.flex-section{
    display: flex;
    padding: 10px 90px;
    justify-items: center;
    gap: 25px;
}
.flex-heading h2{
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 35px;
    font-family: DM Sans;
    line-height: 45px;
    font-weight: 700;
    padding-top: 60px;
}
.flex-text{
    width: 50%; 
    padding: 40px 40px;
    border-radius: 20px;
    line-height: 26px;
    height: fit-content;
    box-shadow: 0 4px 60px rgb(0, 0, 0, 0.06);
}
.flex-text p{
    padding-bottom: 20px;
}
.flex-text:hover{
    background-color: #FFB966;
}  
.flex-img img{
    width: 100%;
}
.p-section .p-flex{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.p-section .l-div{
    width: 50%;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 20px;
    line-height: 25px;
    font-family: DM Sans;
}
.l-div h2{
    padding-top: 60px;
    font-size: 40px;
    padding-bottom: 20px;
}
.l-div p{
    font-size: 15px;   
}
.p-section .r-div{
    width: 30%;
    background-color: white;
    z-index: 1;
    margin-bottom: -200px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 60px rgb(0, 0, 0, 0.06);
    margin-top: 80px;
    margin-right: 80px; 
}
.r-div h1{
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
    font-family: DM Sans;
}
.list li{
    width: 90%;
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
    padding-left: 20px;
    font-family: DM Sans;
    padding-top: 10px;
}
.r-div button{
    font-size: 15px;
    font-weight: 700;
    margin: 30px 40px;
    border-radius: 40px;
    border: none;
    padding: 20px 20px;
    background-color: #FFB966;
    color:  rgba(89, 3, 89);
    
}
.r-div button:hover{
    background-color: rgb(89, 3, 89);
    color: white;
}

.p-section .b-div img{
    width: 100%;
    position: relative;
    /* z-index: 10px; */
    bottom: 100px;
    
}
.list{
    list-style: none;
    width: 100%;
    font-size: 20px;
}
.list li{
    display: flex;
    gap:10px;
    margin-top: 20px; 
}
.fa-circle-check{
    color: rgb(89, 3, 89);
    align-content: center;   
}
.consult-flex{
    display: flex;
    gap: 80px;
    padding-bottom: 80px;
    background-image: linear-gradient(to right, rgb(8, 6, 6), rgba(21, 45, 67, 0.5)), url(b4f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.consult{
    padding: 80px;
    font-family: sans-serif;  
}
.p1{
    font-size: 20px;
    color: #FFB966;
    font-weight: 800;
}
.h2{
    color: white;
    font-size: 30px;
    padding-top: 40px;
}.p2{
    width: 80%;
    color: white;
    font-weight: 400;
    padding-top: 10px;
    font-size: 15px;
}
.consult button{
    width:30%;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.circle{
    border-radius: 100%;
    background-color: #FFB966;
    text-align: center;
    margin-right: 20px;  
    justify-content: center;
    position: relative;
    right: 40px;
    width: 300px;
    margin-top: 20px;
    padding-bottom: 40px;
}  
.circle p{
    margin-top: 40px;
}
.circle h2{
    font-size: 150px;
    font-weight: 700;
    font-family: DM Sans;
    line-height: 50px;
    margin-top: 40px;
    color:  rgb(89, 3, 89);;
    margin: 50px;
}
.circle img{
    width : 150px;  
}
.looped-bg{
    background-image: url(pattern-bg.jpg);
    width: 98%;
    margin: auto;
}
.looped-flex{
    display: flex;
    gap: 20px;
    justify-content: center;  
    margin-top: 30px;
    padding-bottom: 90px; 
}
.our{
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 40px;
}
.project{
    width: 35%;
    background-color: white;
    box-shadow: 0 4px 60px rgb(0, 0, 0, 0.06); 
    padding-left: 90px; 
    font-family: DM Sans;
    line-height: 38px;
    height: fit-content;
    padding-bottom: 40px;
    padding-right: 70px;  
}
.project h3{
    padding-top: 30px;
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    width: 80%;
}
.project h2{
    font-size: 40px;
    font-weight: 900;
    padding-top: 10px;
}
.project button{
    background-color: rgb(89, 3, 89);;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    padding: 15px 25px;
}
.project:hover{
    background-color: rgb(89, 3, 89);  
    color: white;
}
.project:hover button{
    background-color: #FFB966;
    color: white;
}
.scrum{
    background-color: white;
    box-shadow: 0 4px 60px rgb(0, 0, 0, 0.06); 
    padding-left: 60px; 
    font-family: DM Sans;
    line-height: 36px;
    height: fit-content;
    padding-bottom: 40px; 
    padding-right: 80px; 
}
.scrum h3{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    width: 80%;
}
.scrum h2{
    font-size: 40px;
    font-weight: 900;
    padding-top: 10px;
}
.scrum button{
    background-color: rgb(89, 3, 89);;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    padding: 15px 25px;
}
.scrum:hover{
    background-color: rgb(89, 3, 89);  
}
.scrum:hover button{
    background-color: #FFB966;
    color: white;
}
.check li{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;  
}
.check li i{
    color: #FFB966;
}
.hero-side{
    width: fit-content;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 80px;
}
.hero-txt{
    width: fit-content;
    background-color: rgb(230, 230, 255);
    border-radius: 40px;
    padding: 50px;
    margin-left: 80px;
    margin-bottom: 60px;

}
.hero-txt p{
    width: 80%;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    font-size: 20px;
    font-family: DM Sans;
    line-height: 30px;
    border-bottom:solid 1px gray ;
}
.quote{
    display: flex;
    gap:30px;
    padding-top: 30px;  
}
.quote img{
    padding-top: 20px;
    margin-left: 50px;
}
.John h3{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 900;
  
}
.John h5{
    font-size: 15px;
    padding-top: 15px;
}
.hero-img img{
    width: 60%;
    border-radius: 30px;
    box-sizing: border-box;
    margin-right: 80px;   
}
.footer-section{
    background-color: rgb(89, 3, 89);
    padding-top: 90px;
    margin-top: 60px;
    color: white;
    font-size: 15px;
    font-family: DM Sans;
    font-weight: 500;
    line-height: 40px;
    
    
}
.main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
    border-bottom: solid 1px gray;
    
}
.quick{
    display: flex;
    gap: 70px;
    list-style: none;
    padding-bottom: 40px;
}
.quick li{
    list-style: none;
}
.contact a{
    color: white;

}
.news input{
    padding: 30px 40px;
    border: none;
}
.fa-paper-plane{
    box-sizing: border-box;
    background-color: #FFB966;
    padding: 30px ;
    margin-top: 40px;
}

.follow{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
}
.copy{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.privacy{
    display: flex;
    gap: 30px;
}
.privacy a{
    color: white;
    text-decoration: none;
}








